@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Forum";
  src: url("/fonts/forum/Forum-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  @apply font-forum;
}

html {
  background-color: white;
  color: black;
}
html.dark {
  background-color: black;
  color: white;
}
